<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<!--<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

<script>
    function fun(btn){
        var data={
            searchString:"机器学习",
            searchType:"paper",
            searchBy:"title"
        }
        $.post("/SearchPaperResult",data,function(rel){
            if(rel=="success"){
                alert("success")
            }
            else{
                alert("abcde")
            }
        })
    }

</script>
<button onclick="fun(this)" id="abc">
    给后端post数据的button
</button>


</body>
</html>